﻿@{
    ViewBag.Title = "Employee";
}
<h2><i class="glyphicon glyphicon-user"></i> Get Employees</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Employees:</div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Employee Id:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="EmployeeID" name="EmployeeID" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="btn btn-primary" id="GetEmployees" value="Get" onclick="GetEmployees()">
                </div>
            </div>
        </div>

    </div>
</div>
<table id="tblEmployees" name="tblEmployees" class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contract Type Name</th>
            <th>Role Id</th>
            <th>Role Name</th>
            <th>Role Description</th>
            <th>Year Salary</th>
        </tr>
    </thead>
    <tbody id="employees"></tbody>
</table>
<script type="text/javascript">
    function GetEmployees() {
        var id = $("#EmployeeID").val();
        var service = "";
        if (id === "") {
            service = "/api/EmployeeApi/";
        } else {
            service = "/api/EmployeeApi/" + id;
        }
        $.ajax({
            url: service,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                var row = "";
                $.each(data,
                    function(index, item) {
                        row += "<tr><td>" +
                            item.Id +
                            "</td><td>" +
                            item.name +
                            "</td><td>" +
                            item.contractTypeName +
                            "</td><td>" +
                            item.roleId +
                            "</td><td>" +
                            item.roleName +
                            "</td><td>" +
                            item.roleDescription +
                            "</td><td>" +
                            item.yearSalary +
                            "</td></tr>";
                    });
                $("#employees").html(row);
            },
            error: function(result) {
                alert("Error Getting Employees. Review your data and try again.");
            }
        });
    }
</script>

